@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: 900;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
}

#mc-container,
.map {
	width: inherit;
	height: inherit
}

.map {
	background-color: transparent
}
